.allmoviesDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

.load-more {
    cursor: pointer;
    text-align: center;
    color: white;
    font-weight: bolder;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    padding: 1rem;
    font-size: 20px;
}