.user {
    border: 1px solid white;
    box-sizing: border-box;
    /* width: auto; */
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    height: 400px;
    width: 400px;
}

.user form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    padding-top: 2rem;
    gap: 1rem;
}

.user form input {
    outline: none;
    background: rgba(134, 132, 132, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 0.5px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px;
    width: 60%;
}

.user form button {
    padding: 0.7rem 4rem;
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
}

.cross {
    font-size: 8px;
    position: absolute;
    top: 3px;
    right: 15px;
    cursor: pointer;
}

.user-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 9999;
    min-height: 100vh;
    max-height: 100vh;
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
    top: 0;
}

.auth-type {
    font-size: 3rem;
    font-weight: bolder;
    width: 100%;
    display: flex;
    justify-content: center;
}