.movie-frame {
    border: none;
}

.movie-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vw;
    font-family: sans-serif;
    color: rgb(218, 212, 212);
    background-color: #2F2F2F;
    /* background-color: #040B08; */
}

.movie-minor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
}

.audio-description {
    font-size: 40px;
}

.movie-details {
    display: flex;
    flex-direction: row;
}

.movie-details>div {
    width: 50%;
    box-sizing: border-box;
}

.white-color {
    color: white;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.right {
    padding: 2rem;
    padding-top: 4rem;
}

.genre {
    padding-bottom: 1rem;
}

.span {
    font-size: 1rem;
    margin-right: 5px;
}

.inline-display {
    display: inline;
    margin-right: 5px;
}


.pointer-cursor {
    cursor: pointer;
}

@media(max-width:500px) {
    .right {
        padding: 0.5rem;
    }
}

.bold {
    font: bolder;
}