.header-movie {
    width: 100%;
    background-color: grey;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 8rem 5rem;
}

.header-movie p {
    width: 60%;
}

.header-movie button {
    background-color: white;
    color: black;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    font-size: 0.9rem;
    font-weight: bold;
}

.header-movie button:hover {
    background-color: #eeeded;
}

.cursor-pointer {
    cursor: pointer;
}

.play-movie {
    font-size: 1.5rem;
    margin-bottom: -0.3rem;
    ;
}