.movie-div {
    padding-bottom: 5rem;
    border-radius: 10px;
    cursor: pointer;

}

.movie-div img {
    border-radius: 10px;
}

.addToWatchlist {
    font-size: 40px;
    color: grey;
    position: relative;
    left: -12%;
}