.search-input {
    width: 350px;
    padding: 10px;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    color: white;
}

.navigation {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.login-btn {
    padding: 0.5rem 0.7rem;
    outline: none;
    color: white;
    background-color: transparent;
    font-weight: bolder;
    border-radius: 5px;
    border: solid 1px white;
    cursor: pointer;
}

.sign-btn {
    padding: 0.5rem 0.7rem;
    outline: none;
    color: white;
    font-weight: bolder;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
}

.navbar-a {
    text-decoration: none;
    color: white;
}

.logo {
    font-weight: bolder;
    font-size: larger;
}

.login-signup {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
}

input::placeholder {
    color: rgb(202, 200, 200);
}

.bars {
    display: none;
}

.user-form {
    position: fixed;
    top: 100%;
}

@media(max-width:780px) {

    .bars {
        display: block;
    }

    /* Bars ==false */
    .navbar-a-bars-false {
        display: none;
    }

    .login-signup-bars-false {
        display: none;
    }

    .navigation-bars-false {
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .search-input-bars-false {
        width: 40%;
    }


    /* Bars==true */
    .navigation-bars-true {
        flex-direction: column;
        min-height: 100vh;
        max-height: 100vh;
        backdrop-filter: blur(80px);
        -webkit-backdrop-filter: blur(80px);
        gap: 3rem;
        justify-content: center;
        align-items: center;
        width: calc(100vw - (2 * 2.25rem));
        overflow-y: auto;
        overflow-x: auto;
    }

    .login-signup-bars-true {
        flex-direction: column;
        gap: 0.4rem;

    }

    .search-input-bars-true {
        width: 70%;
    }

    .bars-bars-true {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .user-form {
        position: relative;
        top: 80%;
    }
}


.sign-out {
    position: absolute;
    color: white;
    border: 1px dotted white;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}