.popular-div {
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.popular-heading {
    /* text-align: center; */
}